@import "../../../styles/mixin.scss";
.filtersByType {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: $default;
  @include container;
  padding-bottom: 30px;

  &__icon {
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
    height: 40px;
    width: 40px;
    filter: contrast(0.9);
    & > svg {
      height: 40px;
    }
  }
  &__selected {
    box-shadow: 0 0 1px 3px $green;
    filter: contrast(1);
  }
}
